@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
<h2>Authentication with Identity</h2>
<hr />
<h4>All Questions</h4>
<ul>
    @foreach (var currentQuestion in Model)
    {
        <li>
            <a href="/Questions/AnswerDisplay/?currentQuestionId=@currentQuestion.Id">@currentQuestion.Description</a> | No of Answers: @currentQuestion.Answers.Count
        </li>
    }
</ul>


