@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model BasicAuthentication.Models.Question

<h2>Test: @Model.Description</h2>
<hr />

@foreach (var listItem in Model.Answers)
{
    <li>
        
        <p>@listItem.Description | Score: @listItem.Rating</p>
        <a href="/../Questions/AnswerUpvote/?currentAnswerId=@listItem.Id">Upvote</a>
    </li>
    
}


@Html.ActionLink("Back to Index", "Index")